<div id="picture_tag" style="padding-top: 25px; background-color: black">
  <% tile_sources = get_tile_sources_for_folio(session['folio_id']) %>
  <%= openseadragon_picture_tag tile_sources.last %>
</div>
