<%# Display OpenSeadragon image here %>
<div>
    <div id="location" style="background-color: black"></div>
</div>

<%# Display OpenSeadragon image at 'location' above  %>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "location",
        prefixUrl: "../assets/seadragonImages/",
        autoResize: true,
        tileSources: "//dlib.york.ac.uk/cgi-bin/iipsrv.fcgi?DeepZoom=<%= session[:alt_image] %>.dzi"
    });
</script>
