<%# Display OpenSeadragon image here %>
<div>
  <div id="location" style="background-color: black"></div>
  <div style="float: right; margin-right: 7px; margin-top: 10px"><a href="#" id="dialog_link"></a></div>
</div>

<%# Display OpenSeadragon image at 'location' above  %>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "location",
        prefixUrl: "assets/seadragonImages/",
        autoResize: true,
        tileSources: "//dlib.york.ac.uk/cgi-bin/iipsrv.fcgi?DeepZoom=<%= get_folio_image(session[:folio_id]) %>.dzi"
    });
</script>