<div class="row" style="margin-top: 30px;">
<div class="col-md-3"></div>

<div class="col-md-6 intro">

    <p><span class="intro-text">The Archbishops's Registers Revealed</span> ... brief description of project here ... </p>
    <p><span class="intro-text">Search</span> the <span class="intro-text"><%= get_entry_count.to_s %></span> indexed entries above, or <span class="intro-text">Browse</span> the registers by ... </p>
</div>
<div class="col-md-3"></div>
    </div>

<%= render 'browse_menu' %>