<div class="row" style="margin-top: 30px;">
<div class="col-md-3"></div>

<div class="col-md-6 intro">

    <p><span class="intro-text">York's Archbishops Registers Revealed</span>
          provides free access to over 20,00 images of Registers produced by the Archbishops of York, 1225-1650, in addition to a growing searchable index of names, subjects, places and organisations. The registers are a valuable, and in many cases, unexploited source for ecclesiastical, political, social, local and family history - covering periods of war, famine, political strife and religious reformation in the Archdiocese of York and the wider Northern Province.
    </p>
    <p>
        You can browse images using the options below, or search the indexed portions via the search interface. Further information, guidance and supporting material relating to the registers will be added to the site as time goes on.
    </p>
    <p>
        Pilot imaging and development, as well as the indexing of the register of Archbishop Neville (1374-1388) was funded by the Andrew W. Mellon foundation. The conservation, imaging and technical development phases of the wider York project were also generously funded in 2014-2015 by the Andrew W Mellon Foundation, along with the indexing of the Sede Vacante register, 1304-1306. Indexing of the registers 1570-1650 has been funded by the Marc Fitch Fund, and will be complete by October 2016.
    </p>
    <p><span class="intro-text">Search</span> the <span class="intro-text"><%= get_entry_count.to_s %></span> indexed entries above, or <span class="intro-text">Browse</span> the registers by ... </p>
</div>
<div class="col-md-3"></div>
</div>

<%= render 'browse_menu' %>