<div class="row" style="margin-top: 30px;">
<div class="col-md-3"></div>

<div class="col-md-6 intro">

    <p><span class="intro-text">The Northern Way</span>
      is a 33-month project, commencing in February 2019. It seeks to assess and analyse the political roles of the Archbishops of York over the period 1306-1406. As part of this work, the project will create a publicly-available comprehensive searchable online index of all relevant primary sources held for the political activity of the archbishops from both diocesan archives at the Borthwick Institute and held by The National Archives.
    </p>
    <p>
      Our work will be of interest to historians, political scientists and to all those interested in northern identity, past and present.
    </p>
    <p>
      You can keep up to date with our progress via this page, and via @tnorthernway on Twitter.
    </p>
    <p>
      The Northern Way Project has been made possible by funding from the Arts and Humanities Research Council, and is run in partnership between the University of York and the National Archives with the support of the Chapter of York Minster.
    </p>
</div>
<div class="col-md-3"></div>
</div>

<%= render 'browse_menu' %>
