<p><%= link_to 'IIIF', 'http://iiif.io/' %>
    (International Image Interoperability Framework) is an international initiative to
    provide 'an interoperable technology and community framework for image delivery'. IIIF publish two
    standards,
    one for serving images, which allows others applications to make use of images in a standardised way, and
    another presentation, to enable the standardised description (an IIIF Manifest) of image collections for use
    in
    different tools. The project has implemented both standards.</p>

<p>For each register we provide an IIIF Manifest. This is a file containing structured (JSON) data compliant
    with
    the IIIF Presentation API (version 2) describing the register and its images.</p>

<p>This manifest can be ‘plugged’ into any IIIF compliant viewer, such as the <%= link_to 'Mirador Viewer', 'https://github.com/IIIF/mirador' %>.

<ul>
    <li><%= link_to 'Mirador Demo Viewer', 'http://projectmirador.org/demo' %></li>
</ul>
<p></p>
<p>The Biblissima Project is a hub
    for
    digital humanities projects in France which provides a demonstration version of the Mirador Viewer.
    It is
    possible to add your own IIIF Manifest to this demo site.</p>

<ul>
    <li><%= link_to 'Biblissima Mirador Viewer', 'http://demos.biblissima-condorcet.fr/mirador/#27af4c40-8f6c-4aaf-9911-1a83a3e862e3' %></li>
</ul>