<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

            <h1>Browse Places<span style="float: right">
                <%= link_to '', browse_path, class: 'fa fa-chevron-circle-left fa-2x' %>
            </span></h1>

    </div>
    <div class="col-md-2"></div>
</div>