
<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <h1>Browse</h1>
        <%= openseadragon_picture_tag get_tile_sources('vd66vz97b')  %>

    </div>

    <div class="col-md-2"></div>
</div>