<% unless @tna_senders.blank? %>
  <div class="row">
    <div class="col-md-3 document_field_title">
      Sender:
    </div>
    <div class="col-md-9">
      <% @tna_senders.each do |sender| %>
        <div class="pad_multi_element">
          <% sender[:person_as_written].each do |s| %>
            <%= s%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>