<% unless @document_json["tna_senders_tesim"].blank? %>
  <div class="row">
    <div class="col-md-3 document_field_title">
      Sender:
    </div>
    <div class="col-md-9">
      <% @document_json["tna_senders_tesim"].each do |sender| %>
        <div class="pad_multi_element">
          <%== sender %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>