<% unless @tna_addressees.blank? %>
  <div class="row">
    <div class="col-md-3 document_field_title">
      Addressee:
    </div>
    <div class="col-md-9">
      <% @tna_addressees.each do |addressee| %>
        <div class="pad_multi_element">
          <% addressee[:person_as_written].each do |p| %>
            <%= p%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>