<% unless @tna_persons.blank? %>
  <div class="row">
    <div class="col-md-3 document_field_title">
      Person:
    </div>
    <div class="col-md-9">
      <% @tna_persons.each do |person| %>
        <div class="pad_multi_element">
          <% person[:person_as_written].each do |paw| %>
            <%= paw%><br/>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>