<tr>
  <th style="width: 30%; padding-top: 15px">Reference:</th>
  <td style="padding-top: 15px"><%== @document_json["reference_tesim"][0] unless @document_json["reference_tesim"].blank? %></td>
</tr>