<div id="location1" style="background-color: black"></div>

<div style="clear: both"></div>

<div id="image_footer" style="text-align: center">
  <em><%= link_to 'Click here to enlarge', '#', :onclick => "popup('/image_zoom_large', '" + @folio_id + "'); return false" %></em>:
  <a href='#' onclick="popup('/image_zoom_large', '<%= @folio_id %>'); return false" title="Click here to enlarge"><span class='fa fa-search-plus fa-2x mag_icon'></span></a>
</div>

<div style="clear: both"></div>

<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "location1",
        prefixUrl: "assets/seadragonImages/",
        autoResize: true,
        tileSources: "http://dlib.york.ac.uk/cgi-bin/iipsrv.fcgi?DeepZoom=<%= get_folio_image(@folio_id) %>.dzi",
        showNavigationControl: false
    });
</script>
