<!-- # added (ja) -->
<div class="row">
  <div class="col-md-2"></div>

  <div class="col-md-8" style="padding-top: 20px">

    <p>The 14th century was a formative period in the development of both the North of England, and the kingdom of England as political-cultural entities.</p>
    <p>It culminated in the execution of Richard Scrope, archbishop of York, for treason, following his participation in the northern rebellion against Henry IV in 1405. These events and their aftermath would condition 'northerness' and royal government
      of the north for centuries to come.</p>
    <p>The Northern Way begins from the proposition that we cannot understand these events without understanding the role of the archbishops of York as northern leaders in the century before 1405.</p>
    <p>As a result of the Scottish Wars of Independence, beginning in 1296, the English state adopted new mechanisms for governing the lands north of the Trent.</p>
    <p>The Church provided active leadership in the war through the mobilization of material support, military leadership, and promotion of the cults of the northern saints.</p>
    <p>Much of this promotion centred on the personalities of the archbishops of York who, in addition to their political leadership, were extensively engaged in pastoral reform and memorialised in new chronicles and in a greatly enlarged and newly
      glazed York Minster.</p>
    <p>Ultimately the representation of the archbishops as northern leaders reached a crisis in the rebellion and execution for treason of Archbishop Richard Scrope in 1405.</p>
    <p>Yet the deeper historical reasons for the extraordinary political events of 1405 are still not understood and of the eight archbishops of this period only one, Arundel (1388-1396), is the subject of a modern detailed study (Aston, 1967).</p>
    <p>Was their agenda a 'northern' agenda? Does this emerge as a longer term context explaining the state crisis in 1405?</p>
    <p>This project will complete a publicly-available comprehensive searchable online index of all relevant primary sources held for the political activity of the archbishops from both diocesan archives at the Borthwick Institute and held by The
      National Archives.</p>
    <p>Our work will be of interest to historians, political scientists and to all those interested in northern identity, past and present.</p>

  </div>

  <div class="col-md-2"></div>
</div>
