<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="padding-top: 20px">
    <h1>Search the Registers</h1>
    <p>It’s important to note that at present not all the Archbishop’s Registers have been fully indexed. 
      If you can’t find what you are looking for, you may want to browse the registers instead for the period 
      you are interested in. You can find out more about what has currently been indexed in our 
      <strong>At a glance guide</strong> (forthcoming).</p>
    <%# <p>The records from The National Archives have been indexed in full and can be searched using the options below. Please note, these entries do not contain images.</p>
    <h2>Getting the best from the database [Hints and tips]</h2>
    <u>Keyword searching</u><br><br>
    <u>Searching for a person</u><br><br>
    <u>Searching for a place</u><br><br>
    <u>Searching by date</u><br><br>
    <p>Difference between certain / inferred / approximate</p>
    <p>00/00 dates</p> %>
  </div>
  <div class="col-md-3"></div>
</div>
