/***** Top menu *****/
#top_menu {
  min-height: 50px;
  background-color: #403152;
  //text-align: center;
  font-size: 1.2em;
  //padding-top: 10px;
}

#top_menu a {
  color: #FFCC00;
  //margin-left: 15px;
  //margin-right: 15px;
}
/***** Search row *****/
#norther_home {
  height: 350px;
  background: url("/assets/northern_banner_long.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
}

#norther_default {
  height: 200px;
  background: url("/assets/northern_banner_long.jpg") no-repeat;
  background-size: cover;
  background-position: left top;
}

.northern-banner-box {
  opacity: 0.8;
  background-color: #383639;
  text-align: right;
  display: block;
  margin: 8% 15% 5% auto;
  max-width: 650px;
}
