/***** sidebar *****/
#sidebar, #facets {
  padding-bottom: 10px;
}

#facet-panel-collapse {
  padding-left: 0;
  padding-right: 0;
  border-top: none;
  box-shadow: none;
  max-height: none;
}

.facets-toggle {
  border-color: #ddd;
}

.facets-toggle .icon-bar {
  background-color: #888;
}

.facet-values {
  display: table;
  width: 100%;
}

.facet-values li {
  display: table-row;
}

.facet-values .remove {
  text-indent: 12px;
}

.facet-values .remove .glyphicon {
  top: 0.1em;
  vertical-align: text-top;
}

.facet-values .remove:hover {
  color: #d9534f;
}

.facet-values .facet-label {
  display: table-cell;
  padding-right: 1em;
  text-indent: -15px;
  padding-left: 15px;
  padding-bottom: 6px;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.facet-values .facet-count {
  display: table-cell;
  vertical-align: top;
  text-align: right;
}

.facet_extended_list .sort_options {
  text-align: right;
}

.facet_extended_list .prev_next_links {
  float: left;
}

/* deprecated in Blacklight 5.x */
.collapse-toggle {
  cursor: pointer;
}

.panel-heading.collapse-toggle .panel-title:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';
  /* essential for enabling glyphicon */
  content: "\e114";
  /* adjust as needed, taken from bootstrap.css */
  float: right;
  /* adjust as needed */
  color: grey;
  /* adjust as needed */
  font-size: 0.8em;
  line-height: normal;
}

.panel-heading.collapse-toggle.collapsed .panel-title:after {
  /* symbol for "collapsed" panels */
  content: "\e080";
  /* adjust as needed, taken from bootstrap.css */
}

/* Sidenav */

#search_registers.form-control {
  width: 612px;
}

.top-panel-heading.panel-heading {
  padding-left: 0px;
}

.navbar-form {
  padding-left: 0px;
}

p, ol, ul, td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

body {
  /*font-family: Arial;*/
  //background: url('/assets/main_image.jpg') scroll 0 10% #000000;
}

//#banner {
//  background: url('/assets/arch1_banner.jpg') repeat-x scroll 0 10% #000000;
  //height: 110px;
  //background-color: #67467a;
//}

.icon {
  position: relative;
  top: 1px;
}

a, a:visited, a:hover, a:focus {
  /*font-size: 1.2em;*/
  text-decoration: none;
  //color: #248dc1;
  color: #3e1c52;
  background-color: transparent;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.panel-title a {
  font-weight: bold;
  color: #666;
}

.results_table table {
  margin-left: 18px;
}

.results_table th {
  font-weight: normal;
  font-size: 0.9em;
  //font-style: italic;
  width: 150px;
  padding-left: 4px;
}

.results_table td {
  font-size: 0.9em;
}

* {
  box-sizing: border-box;
}

.example {
  position: relative;
  padding: 20px 60px 50px 30px;
  margin: 20px 0;
  overflow: hidden;
}

.example-val {
  font: 400 12px Arial;
  color: #888;
  display: block;
  margin: 15px 0;
}

.example-val:before {
  content: "Value: ";
  font: 700 12px Arial;
}

#left_frame {
  float: left;
  //width: 280px;
  margin-left: 23px;
}

#right_frame {
  padding-left: 23px;
  float: left;
  //width: 870px;
}

#location1 {
  float: left;
  height: 400px;
  width: 320px;
  margin: 10px;
}

.tab1 table {
  font-size: 0.8em;
  table-layout: fixed;
  margin: auto;
}

.tab1 th {
  font-weight: normal;
  text-align: left;
}

.tab1 {
  float: left
}

.tab1 table {
  border-right: 1px solid #ACADB7;
  border-bottom: 1px solid #ACADB7;
}

.tab1 td, .tab1 th {
  border-top: 1px solid #ACADB7;
  border-left: 1px solid #ACADB7;
  font-size: 1.2em;
  padding: 7px 8px;
}

.tab1 th {
  font-weight: normal;
  text-align: left;
  background-color: #E1E1E1;
}

.tab1 td {
  background-color: #F2F0F0;
}

// Just to make the height of the view page elements match that of the edit elements
// Doesn't work so well for multi elements though
.tab1 th {
  height: 23px;
}

.tab2 table {
  //font-size: 1em;
  border: 1px solid silver;
  width: 96%;
  float: left;
  margin: 3px 3px 7px 0px;
}

.tab2 td, .tab2 th {
  border: none;
}

.tab2 td {
  background-color: white;
}

.tab2 th {
  background-color: #FFFFFF;
  width: 115px;
}

#image_frame {
  float: left;
  background-color: #403C35;
}

#image_frame a {
  text-decoration: none;
}

#image_frame2 {
  float: left;
  background-color: #403C35;
}

#image_frame2 a {
  text-decoration: none;
}

#image_header {
  font-size: 1em;
  float: left;
  //height: 38px;
  background-color: grey;
  //background-color: #403152;
  width: 100%;
  //padding-top: 5px;
  padding: 10px 0px;
  color: #F7F4EE;
  text-align: center;
}

#image_header2 {
  font-size: 1em;
  float: left;
  height: 28px;
  background-color: grey;
  width: 100%;
  padding-top: 5px;
  color: #F7F4EE;
  text-align: center;
}

#image_main {
  float: left;
  width: 100%;
  padding: 15px 0px;
}

#image_main_left {
  float: left;
  width: 30px;
  vertical-align: middle;
}

#image_main_center {
  float: left;
  width: 200px;
}

#image_main_right {
  float: left;
  width: 30px;
  vertical-align: middle;
}

#image_footer {
  float: left;
  width: 100%;
  height: 38px;
  background-color: grey;
}

// Prevent blue line appearing in chrome around the canvas
.openseadragon-canvas {
  outline: 0px;
}

#entry_menu {
  height: 26px;
  margin-top: 2px;
  padding-top: 7px;
  //width: 900px;
  //background-color: grey;
  background-color: #403152
}

#entry_menu ul {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

#entry_menu li {
  //display: inline-block;
  float: left;
  font-size: 1.1em;
  list-style: outside none none;
  margin: 0;
  padding: 4px 0 5px;
  margin-left: 3px;
}

#entry_menubar {
  height: 20px;
  background-color: #e1e1e1;
}

.noth th {
  padding: 0px;
}

.highlight {
  color: #9c6b17;
  //color: #403152;
  background-color: #E1E1E1;
  border-radius: 6px 6px 0 0;
  padding: 6px 10px 7px 12px;
  // This solves a problem in IE where the 'highlighted' tab is behind the row below thereby displaying a line which should be displayed
  // Not sure why but it seems to move the element in front
  opacity: 0.99;
}

.highlight a {
  //color: #9C6B17;
  //color: #FFCC00;
  text-decoration: none;
}

.nohighlight {
  background-color: #C5C5C5;
  border-radius: 6px 6px 0 0;
  padding: 6px 10px 6px 12px;
}

.nohighlight a {
  color: #9b9b9b;
  text-decoration: none;
}

.nohighlight a:hover {
  color: #9C6B17;
  //color: #FFCC00;
  text-decoration: none;
}

.panel-title {
  font-size: 14px;
}

ul {
  margin-bottom: 0px;
}

.reverse {
  padding: 0px 3px;
  color: white;
  background-color: grey;
}

#banner {
  height: 50px;
  background-color: #403152;
  text-align: center;
  font-size: 1.2em;
}

#banner a {
  color: #FFCC00;
  margin-left: 15px;
  margin-right: 15px;
}

.archbishop_logo {
  //width: 50%;
    height: 100px;
    //height: auto;
    //max-width: 10%;
    border-right: 1px solid #676767;
    border-bottom: 1px solid #676767;
}

.main_image {
  background: url('/assets/main_image.jpg') scroll 0 90% #000000;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%; /* (img-height / img-width * container-width) */
}

.footer_logo {
 // width: 200px;
  margin: 0px 50px;
}

#main_search {
  height: 350px;
  background: url('/assets/arch_banner.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
}

#main_search2 {
  height: 110px;
  background: url('/assets/arch_banner.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}

#browse_icons table {
  width: 100%;
  margin-top: 20px;
}

#browse_icons td {
  width: 20%;
  padding-top: 10px;
  text-align: center;
}

.fa {
  color: #403152;
}

.fa:hover {
  color: #685185;
}

.results_title {
  font-size: 1.1em;
}

